<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-4 col-xs-offset-1 col-sm-offset-4">

      <div class="row">
        <div class="col-xs-10 margin-bottom-25">
          <h2 class="text-center">Регистрация</h2>
        </div>
      </div>

      <div class="form-group-lg">
        <div class="row">
          <div class="col-xs-10 <%= bootstrap_has_error(resource, :email) %>">
            <%= f.input :email, label: false, class: "form-control", autofocus: true,
                        autocomplete: "email", placeholder: "Email" %>
          </div>
          <span class="margin-top-10 glyphicon glyphicon-envelope gi-1-7x" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group-lg">
        <div class="row">
          <div class="col-xs-10 <%= bootstrap_has_error(resource, :name) %>">
            <%= f.input :name, label: false, class: "form-control", autofocus: true,
                        autocomplete: "name", placeholder: "Имя" %>
          </div>
          <span class="margin-top-10 glyphicon glyphicon-user gi-1-7x" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group-lg">
        <div class="row">
          <div class="col-xs-10 <%= bootstrap_has_error(resource, :password) %>">
            <%= f.input :password, label: false, class: "form-control",
                        autocomplete: "current_password", placeholder: "Пароль" %>
          </div>
          <span class="margin-top-10 glyphicon glyphicon-lock gi-1-7x" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group-lg">
        <div class="row">
          <div class="col-xs-10 <%= bootstrap_has_error(resource, :password_confirmation) %>">
            <%= f.input :password_confirmation, label: false, class: "form-control",
                        autocomplete: "current_password", placeholder: "Повторите пароль" %>
          </div>
          <span class="margin-top-10 glyphicon glyphicon-lock gi-1-7x" aria-hidden="true"></span>
        </div>
      </div>

      <div class="form-group-lg margin-bottom-5">
        <div class="row">
          <div class="col-xs-10">
            <%= f.button :submit, "Зарегистрироваться", class: "btn-default btn-lg btn-success" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10">
          <%= link_to 'Войти', new_user_session_url %>
        </div>
      </div>
    </div>
  </div>
<% end %>
