<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="margin-bottom-30">
      <h2 class="text-center">Войти</h2>
    </div>

    <div class="form-group-lg margin-bottom-15">
      <div class="row">
        <div class="col-sm-4 pull-right margin-top-10">
          <span class="glyphicon glyphicon-envelope gi-1-7x" aria-hidden="true"></span>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.email_field :email, class: "form-control", autofocus: true,
                            autocomplete: "email", placeholder: "Email" %>
        </div>
      </div>
    </div>

    <div class="form-group-lg margin-bottom-15">
      <div class="row">
        <div class="col-sm-4 pull-right margin-top-10">
          <span class="glyphicon glyphicon-lock gi-1-7x" aria-hidden="true"></span>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.password_field :password, class: "form-control",
                               autocomplete: "current-password", placeholder: "Пароль" %>
        </div>
      </div>
    </div>

    <div class="form-group-lg">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.submit "Готово", class: "btn btn-default btn-lg" %>
          <div class="pull-right"> <%= render "devise/shared/links" %> </div>
        </div>
      </div>
    </div>
  </div>
<% end %>